/* Common elements */
body{
    display: contents;
}
a{
    text-decoration: none;
}

/* header */
header{
    float: right;
    margin: 20px;
}
.h-inner a{
    color: #000;
    margin-right: 15px;
}
.h-inner a:hover{
    text-decoration: underline;
}

/* main section */
.main-section{
    margin-top: 300px;
    text-align: center;
}
.main-section img{
    margin-bottom: 20px;
    width: 272px;
}
.input-area{
    margin-bottom: 18px;
}
.input-area input[type="text"]{
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0 40px;
}
.input-area .search-icon{
    position: relative;
    left: 40px;
    color: #9aa0a6;
}
.input-area .mic-icon{
    position: relative;
    right: 40px;
    color: #9aa0a6;
}
.btn-area button{
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
}
.btn-area button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #707070;
    color: #333;
}
.lan-area a{
    padding: 0 3px;
    color: #1a0dab;
}
.lan-area a:hover{
    text-decoration: underline;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}
footer div{
    padding: 15px 30px;
    font-size: 15px;
}
footer div span a{
    color: rgba(0, 0, 0, .54);
}
footer div:first-child{
    border-bottom: 1px solid #dadce0;
}
footer div:last-child span a{
    padding-left: 15px;
}
footer div:last-child span:last-child{
    float: right;
}