/* Common elements */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f1d1d2;
}
a{
    text-decoration: none;
}

/* header */
header{
    margin: 20px;
    text-align: right;
}
header *{
    color: #fff;
}
header a{
    margin-right: 15px;
}
header a:hover{
    text-decoration: underline;
    color: #7d5959;
}
header .menu-icon:hover{
    color: #7d5959;
}

/* main section */
.main-section{
    margin-top: 300px;
    text-align: center;
}
.main-section img{
    margin-bottom: 20px;
    width: 272px;
}
.input-area{
    margin-bottom: 18px;
}
.input-area input[type="text"]{
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0 40px;
}
.input-area input[type="text"]:focus{
    outline: none;
}
.input-area .search-icon{
    position: relative;
    left: 40px;
    color: #7d5959;
}
.input-area .mic-icon{
    position: relative;
    right: 40px;
    color: #7d5959;
}
.btn-area button{
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
    color: #7d5959;
}
.btn-area button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #c1a3a3;
    color: #c1a3a3;
}
.lan-area span{
    color: #7d5959;
}
.lan-area a{
    padding: 0 3px;
    color: #fff;
}
.lan-area a:hover{
    text-decoration: underline;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #faf1f2;
}
footer div{
    padding: 15px 30px;
    font-size: 15px;
    color: #7d5959;
}
footer div span a{
    color: #c1a3a3;
}
footer div:first-child{
    border-bottom: 1px solid #c1a3a3;
}
footer div:last-child span:first-child a{
    padding-right: 15px;
}
footer div:last-child span:last-child{
    float: right;
}
footer div:last-child span:last-child a{
    padding-left: 15px;
}